.form
    display: flex
    gap: 40px
    flex-direction: column
    width: 60%
    margin: 0 auto
    background-color: rgba(87, 136, 200, 0.15)
    border-radius: 8px
    padding: 40px
    height: max-content

.inputGroup
    display: flex
    justify-content: space-between
    position: relative

.lable
    font-size: 1em

.input
    font-weight: 600

.inputError
    position: absolute
    right: 0
    bottom: -25px
    color: #e74362

.element
    display: flex
    flex-direction: column
    gap: 40px
    align-items: center

.title
    font-size: 2em
    text-align: center

.buttons
    display: flex
    justify-content: center
    gap: 40px

.objectsSection
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px
    width: 100%
    position: relative

.objectWrapper
    max-width: 500px
    height: 250px
    width: 100%
    overflow: hidden
    border-radius: 8px
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: rgb(127,126,240)
    background: linear-gradient(90deg, rgba(127,126,240,1) 0%, rgba(158,154,233,1) 50%, rgba(145,185,241,1) 100%)

.img
    width: 100%
    height: 100%

    object-fit: cover

.infobar
    position: absolute
    top: 0
    right: 0
    background-color: #353535da
    padding: 10px
    border-bottom-left-radius: 8px
.emptyObjects
    font-size: 2em
    text-align: center

.cardTitle
    position: absolute
    bottom: 0
    font-size: 2em
    text-shadow: 2px 3px 4px #353535

.hoverWrapper
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    display: flex
    gap: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.nav
    display: flex
    gap: 30px
    align-self: flex-end

.navLink
    color: grey
    font-size: 1.1em

.navLinkActive
    color: white
    font-size: 1.1em
    text-decoration: underline

.listGrid
    display: grid
    gap: 20px
    grid-template-columns: 400px 400px

.section
    width: 300px
    display: flex
    justify-content: center

.input::placeholder
    color: #e74362
    font-weight: 300

.radioGroup
    display: flex
    width: 60%
    justify-content: space-around

.inputRadio
    margin-right: 10px
    width: fit-content

@media screen and (max-width: 1160px)
    .input
        width: 60%

@media screen and (max-width: 950px)
    .nav
        align-self: center

@media screen and (max-width: 850px)
    .title
        font-size: 1.5em
    .form
        width: 80%
    .listGrid
        grid-template-columns: 300px 300px

@media screen and (max-width: 680px)
    .listGrid
        width: 320px
        display: flex
        flex-direction: column

    .element
        gap: 20px

@media screen and (max-width: 550px)
    .form
        width: 100%

    .nav
        justify-content: center
        text-align: center
        // margin-top: 30px

    .navLink
        line-height: 100%

    .navLinkActive
        line-height: 100%

@media screen and (max-width: 470px)
    .form
        gap: 20px
    .inputGroup
        flex-direction: column
        gap: 5px
    .input
        width: 100%
    .title
        line-height: 100%

    .radioGroup
        width: 100%
